<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink'); -%>
    <title>About Us | A-Mag Us</title>
    <link rel="stylesheet" type="text/css" href="styles/aboutUs.css">
</head>
<body>
<header>
    <%- include('navbar'); -%>
</header>
<section class="main">
    <button id="displayer" onclick="sideDisplay()" type="button" class="btn btn-dark">
        <span class="fa fa-bars"></span>
        Discord
    </button>
    <div class="sidebar closed" id="sidebar">
        <iframe src="https://discord.com/widget?id=775810814950113331&theme=dark"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="about-us-container">
        <div class="about-us-text-box">
            Bienvenue à tout les membres de l'équipage ! Ce site été conçu par 3 étudiants en Sciences Informatiques dans le but de présenter un projet de création d'un site web pour l'Université Catholique de Louvain-La-Neuve dans le cadre de notre mineur intitulée 'Approfondissement en Sciences Informatiques'. <br>
            Afin de mener à bien ce projet final et de sortir du lot, nous avons opter pour la création d'un site en lien avec un jeu phare du moment : Among Us.
            Notre site, appelé "A-Mag Us" aura pour but d'informer la communauté Among Us via des publications comprenant tout type d'information (News, Astuces, Foire aux questions, ...).<br><br>
            En espérant du fond du coeur que vous y trouverez votre bonheur,<br>
            L'Equipe A-Mag US.<br><br>
            <a href="https://github.com/RainMaker1707/appsinf_groupeQ_final"><b>Our GitHUB</b></a>
        </div>
        <div class="about-us-profile-box">
            <div class="about-us white">
                <b>RainMaker</b>
                <div class="about-us-name-box" >
                    Allegaert Hadrien
                </div>
            </div>
            <div class="about-us black">
                <b>GGisOnline</b>
                <div class="about-us-name-box" >
                    Lechat Jérôme
                </div>
            </div>
            <div class="about-us red">
                <b>Czacio</b>
                <div class="about-us-name-box" >
                    Czarek Świerżewski
                </div>
            </div>
        </div>

    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function sideDisplay(){
            let id = document.getElementById('sidebar');
            let icon = document.getElementById('displayer');
            if(id.classList.contains('open')){
                id.classList.add('closing');
                icon.classList.remove('rotate')
                icon.classList.add('rotate2');
                await sleep(1000);
                id.classList.remove('open');
                id.classList.remove('closing');
                id.classList.add('closed');
            }else{
                id.classList.add('opening');
                id.classList.remove('closed');
                icon.classList.remove('rotate2')
                icon.classList.add('rotate')
                await sleep(1000)
                id.classList.add('open')
                id.classList.remove('opening');
            }
        }
    </script>
</section>
<%- include('onlineFriend.ejs') -%>
<section id="chat-row" class="row">
    <%if(locals.user){%><%-locals.user.chatBar%><%}%>
</section>
</body>
</html>