<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink'); -%>
    <title>About Us | A-Mag Us</title>
    <link rel="stylesheet" type="text/css" href="styles/aboutUs.css">
</head>
<body>
<header>
    <%- include('navbar'); -%>
</header>
<section class="main">
    <button id="displayer" onclick="sideDisplay()" type="button" class="btn btn-dark">
        <span class="fa fa-bars"></span>
        Discord
    </button>
    <div class="sidebar closed" id="sidebar">
        <iframe src="https://discord.com/widget?id=775810814950113331&theme=dark"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function sideDisplay(){
            let id = document.getElementById('sidebar');
            let icon = document.getElementById('displayer');
            if(id.classList.contains('open')){
                id.classList.add('closing');
                icon.classList.remove('rotate')
                icon.classList.add('rotate2');
                await sleep(1000);
                id.classList.remove('open');
                id.classList.remove('closing');
                id.classList.add('closed');
            }else{
                id.classList.add('opening');
                id.classList.remove('closed');
                icon.classList.remove('rotate2')
                icon.classList.add('rotate')
                await sleep(1000)
                id.classList.add('open')
                id.classList.remove('opening');
            }
        }
    </script>
</section>
<%- include('onlineFriend.ejs') -%>
<section id="chat-row" class="row">
    <%if(locals.user){%><%-locals.user.chatBar%><%}%>
</section>
</body>
</html>