<div class="chat-box">
    <ul id="messages"></ul>
    <form action="/" method="get" id="chatGlobal">
        <input id="inputMessage" autocomplete="off" autofocus="on"
               placeholder="type your message here..." />
        <button>Send</button>
    </form>
</div>
<script>
    let socket = io();
    $('#chatGlobal').submit((e)=>{
        e.preventDefault();
        socket.emit('message', $('#inputMessage').val());
        $('#inputMessage').val('');
    });

    socket.on('message', (msg)=>{
        $('#messages').append($('<li>').html(msg));
    });
</script>