<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('allLink'); -%>
    <link rel="stylesheet" type="text/css" href="styles/forum.css">
    <title>Forum | A-Mag Us</title>
</head>
<body>
    <header>
        <%- include('navbar'); -%>
    </header>

    <section class="main">
        <h1>Forum</h1>

        <table>
            <thead>
                <tr>
                    <th class="thead-item">Subject</th>
                    <th class="thead-item">Author</th>
                    <th class="thead-item">Answers</th>
                    <th class="thead-item">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>New map in dev</td>
                    <td>RainMaker</td>
                    <td>12</td>
                    <td> 15 Novembre 2020</td>
                </tr>
                <tr>
                    <td>Auto mute us</td>
                    <td>GGisOnline</td>
                    <td>7</td>
                    <td> 13 Novembre 2020</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>