<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink'); -%>
    <link rel="stylesheet" type="text/css" href="styles/forum.css">
    <title>Forum | A-Mag Us</title>
</head>
<body>

</body>
</html>