<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('allLink'); -%>
    <title>Forum | A-Mag Us</title>
</head>
<body>
    <header>
        <%- include('navbar'); -%>
    </header>
</body>
</html>