<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('allLink'); -%>
    <title>Accueil | A-Mag Us</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css"/>
</head>
<body class="container-fluid">
    <header>
        <%- include('navbar') -%>
    </header>
    <section class="main">
        <div class="row">
            <img class="col-6" src="images/A-Mag_Us.png" id="title_img" alt="A-Mag-Us Title">
            <iframe class="col-5"
                    src="https://store.steampowered.com/widget/945360/?t=Un%20jeu%20de%20soci%C3%A9t%C3%A9%20en%20ligne%20et%20local%20de%20travail%20d'%C3%A9quipe%20et%20de%20trahison%20pour%204%20%C3%A0%2010%20joueurs%20...%20dans%20l'espace!"
                    frameborder="0" id="buy-button" width="646" height="190">
            </iframe>
        </div>
    </section>

    <section class="scroll"></section>

</body>
</html>