<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('allLink'); -%>
    <title>Accueil | A-Mag-us</title>
    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body class="container-fluid">
    <%- include('navbar') -%>
    <div class="row">
    <img class="col-6" src="images/A-Mag_Us.png" id="title_img" alt="A-Mag-Us Title">
    <iframe class="col-5" src="https://store.steampowered.com/widget/945360/"
            frameborder="0" id="buy-button"></iframe>
    </div>

</body>
</html>