<%if(locals.user && locals.user.pseudo){%>
    <div id="online-list" class="offscreen" style="display: none;">
        <!-- TODO online friends ul list -->
        <ul>
            <li>RainMaker</li>
            <li>GGisOnline</li>
            <li>LSoke</li>
        </ul>
    </div>
    <section class="online-friend" onclick="displayFriend()">
        <span class="fa fa-users"></span>
    </section>
    <script>
        function displayFriend(){
            let div = document.getElementById('online-list');
            if(div.classList.contains('offscreen')){
                div.style.display = 'block';
                div.classList.remove('offscreen');
            }else{
                div.classList.add('offscreen');
                div.style.display = 'none';
            }
        }
    </script>
<%}%>