.main{
    margin-top: 5%;
    width: 100%;
    min-height: 95vh;
    overflow: hidden;
}

#displayer{
    width: 8%;
    position: fixed;
    left: 90%;
    display: inline;
}

#displayer .fa{
    margin-right: 15%;
}

.sidebar{
    height: 80vh;
    width: 20%;
    position: fixed;
    top: 17%;
    left: 100%;
}

.sidebar iframe{
    min-height: 600px;
    min-width: 200px;
    height: 100%;
    width: 100%;
}

.opening{
    transform: translate3d(-100%, 0, 0);
    transition: transform 1s ease-in-out;
}

.open{
    left: 80%;
}

.closing{
    transform: translate3d(100%, 0, 0);
    transition: transform 1s ease-in-out;
}

.closed{
    left: 100%;
}

.rotate .fa{
    transition: transform 1s ease-in-out;
    transform: rotate(90deg);
    transform-origin: center center;
}

.rotate2 .fa{
    transition: transform 1s ease-in-out;
    transform: rotate(0);
    transform-origin: center center;
}