.cookie-popup{
    position: absolute;
    top: 85%;
    left: 5%;
    background-color: rgba(10,41,55,0.71);
    height: 15%;
    width: 90%;
    border-radius: 15px;
}

.cookie-content{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 1em;
}

#cookieBtn{
    margin-right: 10px;
}

.close{
    color: #5a5a5a;
    opacity: 1;
}

.close:hover{
    color: #ff5062;
    opacity: 1;
}