.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#left-menu menu:nth-child(n){
    padding: 2px 0 2px 0;
}

#left-menu menu:first-child{
    margin-left: 100px;
}
#right-menu menu:last-child{
    margin-right: 50px;
    margin-top: 0;
}

menu li{
    margin-top: 0;
    padding-top: 0;
    margin-right: 20px;
}

body{
    background-color: #1d1c1f;
    background-image: url('../images/amongus_eliminations_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

menu{
    margin-top: 0;
}

.offscreen{
    display: none;
}

.drop-down-custom{
    background-color: rgba(25, 26, 36, 0.94);
    border-radius: 15px;
    min-width: 100%;
}

.drop-down-custom input[type=text],
.drop-down-custom input[type=email],
.drop-down-custom input[type=password]
{
    color: white;
    margin: 5% 5% 0 5%;
    width: 90%;
    border: 1px solid #203343;
    border-radius: 5px;
    padding: 5% 2% 5% 2%;
}

.drop-down-custom input[type=submit]{
    color: white;
    margin: 15% 5% 5% 5%;
    width: 90%;
    background-color: #203343;
    border-radius: 10px;
}

.drop-down-custom input[type=text]:hover,
.drop-down-custom input[type=email]:hover,
.drop-down-custom input[type=password]:hover{
    background-color: #203343;
}

.drop-down-custom input[type=text]:focus,
.drop-down-custom input[type=email]:focus,
.drop-down-custom input[type=password]:focus{
    background-color: #5f6a7a;
}

.btn-custom-dd{
    width: 200px;
}

.circle70{
    clip-path: circle(70px at center);
}

.circle{
    clip-path: circle(400px at center);
}

.user-menu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 70%;
    display: inline-flex;
}

.user-info-nav{
    list-style: none;
    margin-top: 1%;
    padding-left: 3%;
}
.user-image-nav{
    width: 70px;
    height: 70px;
    border: 3px solid rgba(30, 133, 232, 0.66);
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 0;
}

#user_id{
    color: whitesmoke;
    background-color: rgba(53, 58, 64, 0.94);
    margin-top: 2%;
    min-width: 150px;
    text-align: center;
    border-radius: 5px;
}

.icon-bar{
    display: inline-flex;
    padding-left: 5%;
    margin-top: -15px;
    list-style: none;
}

.icon-bar-item{
    max-width: 25px;
    max-height: 25px;
    margin: -30px 10px 0 10px;
    cursor: pointer;
}

/* Change the color for autocomplete color change */
.drop-down-custom input:-webkit-autofill,
.drop-down-custom input:-webkit-autofill:hover,
.drop-down-custom input:-webkit-autofill:focus,
.drop-down-custom input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(25, 26, 36, 0.94) inset !important;
    -webkit-text-fill-color: white !important;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}